html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0; /* нулевая граница */
  padding: 0; /* нулевые отступы */
  border: 0; /* больше всего для картинок в IE6 */
  outline: 0; /* точечная граница вокруг ссылок в Firefox */
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 20px;
}
ol,
ul {
  list-style: none; /* маркеры без кружочков */
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0; /* Firefox выделяет рамкой из точек все ссылки при нажатии */
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse; /* cellspacing="0" */
  border-spacing: 0;
}
.list {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  display: block;
  align-self: flex-end;
}
.block {
  padding: 40px;
  display: block;
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: black;
}
.SearchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 30px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.SearchFormButton {
  display: block;
  width: 45px;
  height: 45px;
  border: 0;
  background-image: url('../../images/3349449.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  padding: 0;
  margin-top: 10px;
}

.SearchFormButton:hover {
  opacity: 1;
}

.SearchFormButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchFormInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchFormInput::placeholder {
  font: inherit;
  font-size: 18px;
}
.boxDetails {
  display: flex;
  flex-direction: row;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin: 10px;
}
img {
  margin: 10px;
}
.loadButton {
  margin: 10px;
  color: black;
  background-color: orange;
  border: 1px solid orangered;
  margin-bottom: 50px;
}
.title {
  margin: 10px;
  font-weight: 600;
  color: darkblue;
}
.item {
  width: 200px;
  margin: 20px;
}
.itemList {
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}
.filmName {
  color: darkblue;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
